<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{{asset "images/favicon.ico"}}" />

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">

    {{!-- Font for global header and footer --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />

    <meta property="twitter:domain" content="Ghost.org" />
    <meta property="og:site_name" content="Ghost" />
    <meta property="fb:admins" content="511697361" />

    {{ghost_head}}
</head>
<body class="{{body_class}}">

    <main role="main">
        <header class="blog-header">
            <nav class="blog-nav inner">
                {{navigation}}
            </nav>
        </header>
        <div class="page-wrapper">
            {{{body}}}
        </div>
    </main>

    {{> site_footer}}



    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    {{ghost_foot}}


</body>
</html>
