{{!< default}}

<div class="jumbotron text-sm-center">
  <h1 class="display-3">Steven Natera</h1>
  <p class="lead">Hey, I'm Steven Natera, I write this blog, speak at events, serve as a CTO for a few startups, and am an entrepreneurial software engineer.</p>
</div>

<div class="container">
    <div class="row">
        <section class="col-sm-9">

            {{#foreach posts}}

            <article class="{{post_class}}">
                <header class="post-header text-xs-center">
                    <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
                    <time class="" datetime="{{date format='YYYY-MM-DD'}}">{{date format="D MMM YYYY"}}</time>
                </header>
                <section class="post-excerpt">
                    <p>{{excerpt words="55"}}&hellip; <a class="read-more" href="{{url}}">Read More</a></p>
                </section>
            </article>

            {{/foreach}}

            {{pagination}}

        </section>

        <div class="col-sm-3">
            {{!-- {{> sidebar}} --}}
        </div>
    </div>
</div>
