{{!< default}}

<div class="jumbotron jumbotron-black text-sm-center">
  <h1 class="display-3">Steven Natera</h1>
  <p class="lead">Hey, I'm Steven Natera, I write this blog, speak at events, serve as a CTO for a few startups, and am an entrepreneurial software engineer.</p>
</div>

<div class="container">
    <div class="row">
        <section class="col-sm-12">

            {{#foreach posts}}

            <article class="{{post_class}} post-item">
                <div class="post-header">
                    <h3 class="text-xs-center"><a href="{{url}}">{{title}}</a></h3>
                    <div class="text-xs-center">
                        <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="Do of MMMM YYYY"}}</time>
                    </div>
                </div>
                <section class="post-excerpt">
                    <p>{{excerpt words="55"}}&hellip; <a class="read-more" href="{{url}}">Read More</a></p>
                </section>
            </article>

            {{/foreach}}

            {{pagination}}

        </section>

    </div>
</div>
